@font-face {
    font-family: "vazir";
    src: url(../fonts/Vazir-Regular.ttf);
}

body {
    /* background: -webkit-linear-gradient(right, rgba(146, 74, 194, 0.725), rgba(210, 65, 247, 0.973)); */
    /* background: url("../img/R.jpg"); */
    /* تعیین حالت عدم تکرار تصویر */
    background-repeat: no-repeat;
    /* تعیین موقعیت مرکزی تصویر */
    background-position: center center;
    /* تعیین حالت ثابت بودن تصویر نسبت به صفحه */
    background-attachment: fixed;
    /* تعیین اندازه تصویر برابر با اندازه صفحه */
    background-size: cover;
    height: 2000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
}
#colo {
    margin-bottom: 0;
    margin-top: 10px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#iduser {
    font-size: 20px;
    font-family: 'vazir';
    padding-top: 50px;
}

#box {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    box-shadow: 0 15px 25px rgb(0, 0, 0, .5);
}

footer {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.65);
    font-size: 18px;
    font-family: 'vazir';
}

#test {
    padding-top: 20px;
    font-size: 20px;
    font-family: 'vazir';
}

#text {
    padding-top: 20px;
    font-size: 20px;
    font-family: 'vazir';
}



#box p {
    font-size: 20px;
    font-family: 'vazir';
    padding-bottom: 40px;

}

#a {
    /* text-decoration: none; */
    color: rgba(255, 255, 255, 0.856);
    font-size: 18px;
    font-family: 'vazir';
}

#button {
    box-shadow: 0 15px 25px rgb(0, 0, 0, .1);
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    padding: 15px 140px;
    background: -webkit-linear-gradient(right, #9900ff65, rgba(211, 65, 247, 0.479));

    font-family: 'Vazir';
    font-size: 19px;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#button1 {
    box-shadow: 0 15px 25px rgb(0, 0, 0, .1);
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    padding: 15px 115px;
    background: -webkit-linear-gradient(right, #9900ff65, rgba(211, 65, 247, 0.479));
    /* background: -webkit-linear-gradient(right, #9900ffb9, rgba(210, 65, 247, 0.973)); */
    font-family: 'Vazir';
    font-size: 19px;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

h3 {
    background-color: #57b846;
}

#message {
    font-family: "Vazir";
    list-style-type: none;
    padding: 10px;
    background-color: #51ff00;
}

/* #message>li {
    font-family: "Vazir";
    background: #bb616f;
    padding-right: 15px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: right;
} */

#input {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    background: #e6e6e6b6;
    font-family: 'Vazir';
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}
