@font-face {
    font-family: "Vazir";
    src: url(../fonts/Vazir-Regular.ttf);
}

body {
    font-family: "Vazir";
    margin: 0;
    padding-bottom: 3rem;
}

#form {
    font-family: "Vazir";
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    word-spacing:normal;
    text-align: right;
    border: none;
    flex-grow: 1;
    border-radius: 8px;
    margin: 1px;
    font-size: 16px;
    padding-right: 5px;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    word-spacing:normal;
    font-family: "Vazir";
    list-style-type: none;
    padding: 10px;
}

#messages>li {
    font-family: "Vazir";
    background: #0EB9E9;
    padding-right: 15px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: right;
}

#messages>ul {
    font-family: "Vazir";
    background: #A8B4B8;
    padding-right: 15px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    text-align: right;
    word-wrap: break-word;
}


/* #messages>li:nth-child(odd) {
    background: #928afb;
} */
